<h1>Admin User Management Page</h1>
<%= link_to "Create an user", new_admin_user_path %><br>
<hr>

<h2>Rotten Mangoes Users List</h2>

<%= paginate @users %>

<ul>
<% @users.each do |user| %>
  <li>
    <p><%= "#{user.firstname} #{user.lastname}" %> (<%= user.email %>) - Role: <%= user.role  %> (<%= link_to "edit", edit_admin_user_path(user) %>, <%= link_to "delete", admin_user_path(user), method: :delete, confirm: "You sure?" %>, <%= link_to "switch to", sessions_path(:switch_id => user.id), method: :patch %>)</p>
  </li>
<% end %>
<ul>

<hr>